
<table class="tab" border="1">
    <thead>
        <tr>
            <th>activity</th>
            <th>type</th>
            <th>manufacturer</th>
            <th>participants</th>
            <th>price</th>
            <th>link</th>
            <th>key</th>
            <th>accessibility</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>{{borde.activity}}</td>
            <td>{{borde.type}}</td>
            <!-- <td>{{borde.manufacturer}}</td> -->
            <td>{{borde.participants}}</td>
            <td>{{borde.price}}</td>
            <td>{{borde.link}}</td>
            <td>{{borde.key}}</td>
            <td>{{borde.accessibility}}</td>  
        </tr>
    </tbody>
</table>
<br>
<button (click)="refresh()">Refresh</button>