<table class="tab" border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>Vehicle name</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehic; let i=index">

            <td>{{vehicle.id}}</td>
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img class="image1" src="{{vehicle.image}}" alt="">
            </td>
            <td>
                <!-- <button (click)="delete()">delete</button> -->
                <button (click)="view(vehicle.id)">view</button>
                <button (click)="edit(vehicle.id)">edit</button>
            </td>
        </tr>
    </tbody>
</table>