<Div class="parent">
    <div class="child">
        <div class="account">
            <td>{{account.id}}</td>
            <br>
            <td>{{account.account_name}}</td>
            <br>
            <td>{{account.available_balance}}</td>
            <br>
            <td>{{account.account_number}}</td>
            <br>
            <td>{{account.city}}</td>
            <br>
            <!-- <td>{{account.profie_picture}}</td> -->

            <td>
                <img src="{{account.profie_picture}}" alt="">
            </td>
        </div>
    </div>
</Div>