
<input type="text" placeholder="search" (keypress)="getfilteraccount()"[(ngModel)]="term">
<label for="">column</label>
<select [(ngModel)]="colom">
  <option >account_name</option>
  <option >id</option>
</select>
<label for="">order</label>
<select [(ngModel)]="order">
<option >asc </option>
<option > desc</option>
</select>
<button (click)="sortaccountusers()">sort</button>

<br>
<select [(ngModel)]="pageno">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
<button (click)="page()">page</button>

<table class="tab" border="1">
    <thead>
      <tr>
  
          <th>Id</th>
          <th>account_name</th>
          <th>available_balance</th>
       
        <th>account_number</th>
        <th>profie_picture</th>
        <th>action</th>
    
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts; let i=index">
         
       <td>{{account.id}}</td>
       <td>{{account.account_name}}</td>
       <td>{{account.available_balance}}</td>
       <td>{{account.account_number}}</td>
       <td>{{account.profie_picture}}</td>
       
       <td>
        <img src="{{account.profie_picture}}" alt="">
       </td>
       <td>
        <!-- <button (click)="deleteaccount(account.id)">delete</button> -->
        <button (click)="deleteUser(account.id)">deleteaccount</button>

       </td>
       <!-- <td>{{account.id}}</td> -->
    
      </tr>
    </tbody>
  </table>
