<h1 *ngIf="!id">Create account Form</h1>
<h1 *ngIf="id">Edit Account</h1>

<form class="form1" [formGroup]="accountform">
    <label >account_name</label>&nbsp;&nbsp;
    <input type="text" formControlName="account_name">
    <br>
    <br>
    <label >available_balance</label>&nbsp;&nbsp;
    <input type="number" formControlName="available_balance">
    <br>
    <br>
    <label >account_number</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" formControlName="account_number">
    <br>
    <br>
    <label >profie_picture</label>&nbsp;&nbsp;
    <input type="text" formControlName="profie_picture">
    <br>
    <br>
    <button (click)="submit()">{{id ?'Update':'Create'}}</button>
</form>