
<h3>Rating Child Component</h3>
<div *ngIf="selectedRating === 1"> 
 <img src="../../assets/Images/1star.jpg" alt="">
</div>
<div *ngIf="selectedRating === 2">
  <img src="../../assets/Images/2star.jpg" alt="Image2">
</div>

<div *ngIf="selectedRating === 3">
    <img src="../../assets/Images/3star.jpg"  alt="Image2">
  </div>
  <div *ngIf="selectedRating === 4">
    <img src="../../assets/Images/4star.jpg"  alt="Image2">
  </div>
  <div *ngIf="selectedRating === 5">
    <img src="../../assets/Images/5star.jpg"  alt="Image2">
  </div>


