<h1>Create Vehicle Form</h1>

<form class="form1" [formGroup]="vehicleform">
    <label >Vehicle</label>&nbsp;&nbsp;
    <input type="text" formControlName="Vehicle">
    <br>
    <br>
    <label >manufacturer</label>&nbsp;&nbsp;
    <input type="number" formControlName="manufacturer">
    <br>
    <br>
    <label >model</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" formControlName="model">
    <br>
    <br>
    <label >image</label>&nbsp;&nbsp;
    <input type="text" formControlName="image">
    <br>
    <br>
    <button (click)="submit()">submit</button>

</form>