<p class="p">structure1directives works!</p>


<h1 *ngFor="let name of names">{{name}}</h1>
<select name="" id="">
    <option *ngFor="let state of states" >{{state}}</option>

</select>
<h1 *ngFor="let product of products">{{product.name}}and price is {{product.price}}</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tr *ngFor="let product of products">
        <td>
            {{product.name}}
        </td>
        <td>
            {{product.price}}
        </td>

    </tr>
</table>

            <!-- <h1 type="true">Hello</h1> -->
        
            <h1 *ngIf="true">hello</h1>
            <input type="text"[(ngModel)]="num">
            <h1 *ngIf="num<0">negitive number</h1>
            <h1 *ngIf="num>0">Positive number</h1>
            <h1 *ngIf="num==0">This is zero</h1>
            <!-- <h1>{{name}}</h1> -->


