<div class="parent">
    <div class="left">
        <h1> DASHBOARD</h1>
        <hr>
        <h3 routerLink="">login</h3>
        <button class="logout" (click)="logout()">Lagout</button>
        <h3 routerLink="structure1directives">structure1directives</h3>
        <h3 routerLink="pipes">Pipes</h3>
        <h3 routerLink="marks">marks</h3>
        <h3 routerLink="Event">Event</h3>
        <h3 routerLink="Cars">Cars</h3>
        <h3 routerLink="Products">Products</h3>
        <h3 routerLink="Users">Users</h3>
        <h3 routerLink="accounts">accounts</h3>
        <h3 routerLink="vehicles">vehicles</h3>
        <h3 routerLink="flipkartproducts">flipkartproducts</h3>
        <h3 routerLink="mails">mails</h3>
        <h3 routerLink="boredom">boredom</h3>
        <h3 routerLink="galary">galary</h3>
        <h3 routerLink="useinfo">userinfo</h3>
        <h3 routerLink="create-user">create user</h3>
        <h3 routerLink="createvehicle">create vehicle</h3>
        <h3 routerLink="create-account">Create Account</h3>
        <h3 routerLink="user-form">Create Account</h3>
        <h3 routerLink="usertask">usertask</h3>
        <h3 routerLink="user-details">user-details</h3>
        <h3 routerLink="parent">parent</h3>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>